name: GitHub Readme YouTube Cards
on:
  schedule:
    # Runs every (minute   hour   day_of_month   month   day_of_week)
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    # Allow the job to commit to the repository
    permissions:
      contents: write
    # Run the GitHub Readme YouTube Cards action
    steps:
      - uses: DenverCoder1/github-readme-youtube-cards@main
        with:
          channel_id: UCfRH4Y21DW3MA8TXsQlfXww
